@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin-top: 50px;
  background: #2a221c;
  bottom: 0;
}

.contentBox {
  background: url("https://agaram.in/img/rz/map-pattern.png");
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contentBox-right > h2 {
  color: white;
}

.contentBox-right > hr {
  width: 20%;
  color: #000000;
  opacity: 1;
  border-top: 2px solid white;
}

.contentBox-right > ul > li {
  list-style: none;
  color: white;
}

.contentBox-right > ul > li > a {
  text-decoration: none;
  color: white;
}

.contentBox-right > ul > li > a:hover {
  color: #ff5722;
}

.footer-info p {
  color: gray;
}

.footer-info p > a {
  color: white;
  text-decoration: none;
}

.footer-info p > a:hover {
  color: blue;
}
.span-ht {
  font-family: "Caveat", cursive;
  font-size: 40px;
  font-weight: 600;
}
.span-a {
  color: white;
  font-family: "Caveat", cursive;
  font-size: 40px;
  margin-left: 3px;
  margin-right: 3px;
}
/* i {
} */
