@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.parallax {
  background-image: url("https://res.cloudinary.com/think-makers-asylum/image/upload/e_brightness:-64/v1629895704/bg3_nowpo8.jpg");
  background-blend-mode: darken;
  min-height: 400px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.parallax h1 {
  filter: brightness(100%);
  font-family: "DM Serif Display", serif;
}
.parallax h1 span {
  font-family: "Caveat", cursive;
  font-size: 70px;
  font-weight: 700;
}
.parallax h1 .span-will {
  font-family: "DM Serif Display", serif;
  font-size: 47px;
  font-weight: 400;
  color: white;
  border-bottom: 3px solid #ff5722;
}
.parallax h1 .span-a {
  color: white;
  margin-left: 3px;
  margin-right: 3px;
}
